/* styling for header */

header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* styling for nav*/
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
}




/* styling for body*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    margin: 20px 0;
    
}




/* Section styling*/
section.blue-background {
    background-color: rgb(8, 8, 46);
    color: white; 
    padding: 20px; 
    
}

.section-gap {
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
}




/*styling for main body */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;

}



/* styling for sidebar */
.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}




/* footer styling */
footer {
    background-color: rgb(8, 8, 46);
    color: #fff;
    padding: 20px 0;
}

/* styling for a tag */
footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-container {
    display:flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;

}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright p {
    font-size: 0.9em;
}


.contact-info,
.quick-links,
.social-media {
    flex: 1;
    margin-right: 20px;
}
/*image*/
image {
    display:block;
    height:auto;
    max-width: 100%;
}

/* Common Styles for both menus */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(8, 8, 46);
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}